.footer {
  width: 100vw;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    position: absolute;
    bottom: 1vh;
    margin-left: 44vw;
  }

  &_logos {
    display: flex;
    margin-left: 34vw;
  }
  &_logo:last-of-type {
    margin-left: 1vw;
  }
}