@import "./reset.scss";

////Fonts:
//OpenSans:
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/opensans.woff2') format('woff2'),
  url('./fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('./fonts/opensans-light.woff2') format('woff2'),
  url('./fonts/opensans-light.woff') format('woff');
}

//Merriweather:
@font-face {
  font-family: 'merriweatherbold';
  src: url('./fonts/merriweather-bold-webfont.woff2') format('woff2'),
  url('./fonts/merriweather-bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'merriweatherlight';
  src: url('./fonts/merriweather-light-webfont.woff2') format('woff2'),
  url('./fonts/merriweather-light-webfont.woff') format('woff');
}
@font-face {
  font-family: 'merriweatherregular';
  src: url('./fonts/merriweather-regular-webfont.woff2') format('woff2'),
  url('./fonts/merriweather-regular-webfont.woff') format('woff');
}

//Variables:
$primary-font: Open Sans, sans-serif;
$primary-font-light: Open Sans Light, sans-serif;
$secondary-font: Merriweather, sans-serif;

//Colors:
$first-color: #28931F;
$second-color: #FA4848;
$third-color: #F0F1F1;
$fourth-color: #5E5322;
$fifth-color: #FAD648;
$sixth-color: #737373;
$seventh-color: #3C3C3C;

//Keyframes:
@keyframes hoverBorder {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid $seventh-color;
  }
}
@keyframes hoverLogin {
  from {
    border: 1px solid transparent;
  }
  to {
    border: 1px solid $fifth-color;
  }
}
@keyframes BackToTop {
  0%{
    transform: translateY(0vh);
  }
  50%{
    transform: translateY(2.5vh);
  }
  100%{
    transform: translateY(0vh);
  }
}
//Mixins:
@mixin pseudoButtons {
  text-align: center;
  font-size: 3vh;
  font-weight: 300;
  border: 1px solid $seventh-color;
  width: 14vw;
  font-family: $primary-font-light;
  padding: 1rem 0.5rem 1rem 0.5rem;
  text-transform: uppercase;
}
@mixin btns {
  background-color: transparent;
  border: 1px solid transparent;
  font-family: $primary-font;
  font-size: 0.7vw;
  &:hover {
    animation: hoverLogin .3s ease forwards;
  }
}
@mixin afterLine {
  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    display: flex;
    margin-top: 0.3vh;
  }
}
@mixin LoginRegister {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;

  &_header {
    display: flex;
    width:100%;
  }
  &_empty {
    width:50%;
  }

  &_title {
    font-size: 2.1vw;
  }

  &_textBox {
    background-color: transparent;
    border: none;
    height: 3vh;
    width: 100%;

    &_title{
      font-weight: 600;
      margin-bottom: 1vh;
    }
  }
  &_forgotPassword {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

//outline: 1px solid red !important;

#root {
  font-family: $primary-font;
  color: $seventh-color;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px $third-color inset;
}

.btn {
  &_login {
    @include btns;
  }
  &_register {
    margin-left: 1vw;
    @include btns;
  }
  &_logout {
    margin-left: 1vw;
    @include btns;
  }
  &_give {
    @include pseudoButtons
  }
  &_organize {
    @include pseudoButtons;
  }
}
.decoration {
  height: 2.6vh;
  margin-top: 2vh;
}

//Top component
.App {
  .home{
    &_image {
    background-image: url("./assets/Home-Hero-Image.jpg");
    height: 86vh;
    width: 50%;
    background-size: cover;
    background-position: right;
    }
    &_landingComponent {
    display: flex;
    width: 100%;

      &_rightComponent {
      width: 50%;
      height: 86vh;
        p {
          font-size: 3.2vh;
          text-align: center;
        }
      }
      &_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      &_container {
        display: flex;
        justify-content: space-evenly;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 4vh;
        width: 100%;
      }
    }
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  //width:100%;

  &_login {
    //Styled within React components: LandingPage, Login, Register
    //display: flex;
    //align-items: center;
    //justify-content: flex-end;
    //margin-right: 6vw;
    //margin-top: 2vh;
    //height: 2vh;
  }

  &_list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 7vw;
    margin-left: 7vw;
  }

  &_item {
    padding: 0.5rem;
    border: 1px solid transparent;
    font-size: 1.5vh;

    &:hover {
      animation: hoverBorder .3s ease forwards;
      cursor: pointer;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
    line-height: 3.3vh;
    margin-right: 7vw;

    p {
      padding: 0.5vh;
    }
  }
}

//BackToTop Button
.backToTop {
  &_icon {
    position: fixed;
    bottom: 5vh;
    right: 1vw;
    z-index: 20;
    background-color: white;
    border: 2px solid $fifth-color;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: $fifth-color;
    cursor: pointer;
    animation: BackToTop 3s ease-in-out infinite;
    transition: all .5s ease-in-out;

    &:hover {
      //animation: none;
      background-color: $fifth-color;
      color: $third-color;
      border: 2px solid $third-color;
    }
  }
}

//Info
.info {
  background-image: url("./assets/Info_Background.png");
  height: 33vh;

  &_container {
    display: flex;
    height:100%;
    justify-content: space-evenly;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 2vh;
    width: 18%;

    &_number {
      font-family: $primary-font-light;
      font-size: 7.5vh;
    }

    &_title {
      text-transform: uppercase;
      font-size: 1.55vh;
    }

    &_description {
      font-family: $secondary-font;
      font-size: 1.35vh;
      font-weight: 300;
      line-height: 2.25vh;
    }
  }
}

//StepsInfo
.stepsInfo {
  height: 45vh;

  &_title {
    font-size: 3.2vh;
    margin-top: 4vh;
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &_steps_container {
    background-color: $third-color;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2.8vh;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 9vw;
    margin: 2vh 4vw 3vh 4vw;

    &_title {
      font-size: 1.55vh;
      margin-top: 2vh;
      width: 100%;

      &:after {
        content: "";
        height: 1px;
        margin-top: 2vh;
        margin-bottom: 2vh;
        display: flex;
        width: 4vw;
        margin-left: 27%;
        background-color: $seventh-color;
      }
    }

    &_description {
      font-family: $secondary-font;
      font-size: 1.35vh;
      font-weight: 300;
      line-height: 2.25vh;
      width: 100%;
    }
  }

  &_decoration {
    height: 2.6vh;
    margin-top: 2vh;
  }
}

//GiveThings
.giveThings {
  height: 235px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//AboutUs
.aboutUs {
  height: 75vh;
  width: 100%;

  &_container {
    display: flex;
    height: 100%;
  }

  &_info {
    background-color: $third-color;
    width: 50vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &_title {
      font-size: 2.5vh;
      line-height: 5vh;
      text-align: center;
    }
  }
  &_description {
    font-size: 2.5vh;
    line-height: 5vh;
    text-align: center;
    margin-right: 8vw;
    margin-left: 8vw;
  }
  &_image {
    background-image: url("./assets/People.jpg");
    width: 50vw;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  &_signature {
    align-self: flex-end;
  }
}

//Contact
.contact {
  width:100%;
  height: 85vh;
  position: relative;

  &_background {
    background-image: url("./assets/Background-Contact-Form.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 85vh;
      background-color: white;
      opacity: 0.8;
      z-index: -1;
    }
  }
  &_title {
    font-size: 3.2vh;
  }
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 55vw;
  }

  &_form {
    &_container {
      display: flex;
      margin-top: 4vh;
      width: 31vw;
      justify-content: space-between;
    }
    &_nameAndEmail {
      //@include afterLine;
      width: 15vw;
    }

    &_data {
      border: none;
      background-color: transparent;
      font-size: 1.5vh;
      font-family: $primary-font;
      color: $seventh-color;
      opacity: 0.4;
    }
    &_wrapper {
      margin-top: 4vh;
      display: flex;
      justify-content: flex-end;
    }
    &_title {
      font-size: 1.4vh;
      font-weight: 600;
      margin-bottom: 2vh;
    }
    &_button {
      font-family: $primary-font-light;
      font-size: 1.5vh;
      background-color: transparent;
      border: 1px solid black;
      padding: 1rem 3rem 1rem 3rem;
    }
  }
  &_message {
    //@include afterLine;
    margin-top: 4vh;

    &_text {
      border: none;
      width: 100%;
      height: 9vh;
      background-color: transparent;
      font-size: 1.5vh;
      font-family: $primary-font;
      color: $seventh-color;
      opacity: 0.4;
    }
  }
}
.footer {
  width: 100vw;

  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    position: absolute;
    bottom: 1vh;
    margin-left: 44vw;
  }

  &_logos {
    display: flex;
    margin-left: 34vw;
  }
  &_logo:last-of-type {
    margin-left: 1vw;
  }
}

//Login
.login {
  @include LoginRegister;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $third-color;
    margin-top: 5vh;
    padding: 3vh 3vw 3vh 3vw;
    width: 15vw;
    height: 15vh;

    &_email{
    @include afterLine;
    }
    &_password {
      @include afterLine;
    }
  }

  &_register {
    &_button {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &_btn {
    border: 1px solid black;
    padding: 1vh;
    a {
      text-decoration: none;
      color: black;
    }
    &_container {
      display: flex;
      width: 26vw;
      height: 8vh;
      justify-content: space-between;
      align-items: center;
    }
  }
}

//Register
.register {
  @include LoginRegister;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $third-color;
    margin-top: 5vh;
    padding: 3vh 3vw 6vh 3vw;
    width: 15vw;
    height: 25vh;

    &_email{
      @include afterLine;
    }
    &_password {
      @include afterLine;
    }
  }

  &_register {
    &_button {
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
  &_btn {
    font-family: $primary-font;
    border: 1px solid black;
    padding: 1vh;
    text-decoration: none;
    color: black;
    background-color: transparent;

    &_noFrame{
      a {
        text-decoration: none;
        color: black;
      }
    }

    &_container {
      display: flex;
      width: 26vw;
      height: 8vh;
      justify-content: space-between;
      align-items: center;
    }
  }
}

//Reset
.reset {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $third-color;
    margin-top: 5vh;
    padding: 3vh 3vw 3vh 3vw;
    width: 15vw;
    height: 8vh;

    &_email {
      @include afterLine;
    }
  }
  &_title {
    font-size: 2.1vw;
  }

  &_textBox {
    background-color: transparent;
    border: none;
    height: 3vh;
    width: 100%;

    &_title{
      font-weight: 600;
      margin-bottom: 1vh;
    }
  }

  &_btn {
    font-family: $primary-font;
    border: 1px solid black;
    padding: 1vh;
    text-decoration: none;
    color: black;
    background-color: transparent;

    &_container {
      display: flex;
      flex-direction: column;
      width: 26vw;
      height: 8vh;
      justify-content: space-between;
      align-items: center;
      margin-top: 3vh;
    }
  }
  &_register {
    a {
      color: black;
    }
  }
}

//*{
//  outline: 1px solid red !important;
//}